.item_card {
  width: 20rem;
  height: 10.2rem;
  background-color: white;
  border: 0.1rem solid #dde2ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;

  &__time {
    color: #bbbdd0;
    font-size: 1rem;
    font-weight: 700;
  }

  &__actions {
    display: flex;
    gap: 1rem;

    &__img {
      height: 1.3rem;
    }
  }
}
