:root {
  --width-value: 20rem;
  --height-value: 10.2rem;
  --default: 1rem;
  --img-height: 1.3rem;
  --border: 0.1rem;
}

.item_card {
  width: var(--width-value);
  height: var(--height-value);
  background-color: white;
  border: var(--border) solid #dde2ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: var(--default);

  &__actions {
    display: flex;
    gap: var(--default);

    &__img {
      height: var(--img-height);
    }
  }

  &__time {
    color: #bbbdd0;
    font-size: var(--default);
    font-weight: 700;
  }
}
