.card{
    width:325px;
    height: 163px;
    background-color: white;
    border: 1px solid #DDE2FF;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.actions{
    display: flex;
    gap: 1rem;
}

.img{
    height: 20px;
}