:root {
  --img: 18rem;
}

.add {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &__img {
    width: var(--img);
  }
}

.todoList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
