@import "styles/colors";
@import "styles/variables";

.item_card {
  &__actions {
    display: flex;
    gap: $sp-12;

    &--incomplete {
      display: flex;
      gap: $sp-12;
    }

    &__img {
      height: $sp-20;
      cursor: pointer;
    }

    &--completed {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: calc($sp-36 * 7);
    }
  }
}
