body {
  background-color: #f8f9ff;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.buttons{
    display: flex;
    justify-content: space-between;
}

.filterButtons{
    display: flex;
    gap: 1rem;
}
.todoList{
  display: flex;
}

